/* BODY CONTENT */

body {
  background-color: white;
  overflow-wrap: break-word;

}
.content{
  max-width: 960px;
  height:550px;
  border: 5px solid #cccc;
  overflow-wrap: break-word;
  margin: 0 auto;
}

.container-fluid {
  overflow-wrap: break-word;
height:50px;
margin: 0 auto;
background-color: white;
font-family: 'Thasadith', sans-serif;
 color:white,

}

.row {
margin: 0 auto;
text-align:center;
}

.col {
margin: 0 auto;
text-align:center;

}
.display-8{
text-align:center;
}

/* NAVBAR */

.navbar-brand {
  font-weight: lighter;
}
.nav-item{
  font-family: 'Thasadith', sans-serif;
  color:black;
}
.collapse .navbar-collapse{
  position:center;
}
.nav-link {
  color:black;
}
.justify-content-end {
margin: 0 auto;
}

/* JUMBOTRON */

#jumbotron  {
  background: url('../images/banner2.jpg');
  background-size: cover;
  font-family: 'Thasadith', sans-serif;
  margin:0 auto;
  height: 400px;
  }
  .lead {
    background: white;
    opacity: .80;
  }
  .intro {
    padding:20px;
  }
  .my-4{
    padding: 20px;
  }
  aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-family: 'Thasadith', sans-serif;
    color: #29627e;
}

aside > p {
    margin: .5rem;

}

aside > h1 {
  color: black;
  margin-top: 20px;
  font-size: 2em;
  float: center;
}
aside > ul {
  text-align:center;
  color: darkslategrey;
  float: center;
}

#TimeHeader {
  text-align:center;


}
/* TIMER BUTTONS */ 


.button {

}


#start {
  margin-top: 120px;
  padding: 20px;
}

#stop {
  margin-top: 120px;
  padding: 20px;



}

#reset {
  margin-top: 120px;
  padding: 20px;
 


}
.card-header{
  text-align:center;
}
.blockquote {
  text-align: center;
}



/* TIMER COUNTDOWN */ 

.counter .title {
  color:black;
  font-size: 16px;
  font-size: 1.6rem;
  text-transform: uppercase;
  display: block;
  margin-bottom: 15px;
  font-family: 'Thasadith', sans-serif;
  font-weight: 500;
}
.counter .sq {
  color: black;
  display: inline-block;
  text-align: center;
}
.counter .sq .bord {
  border-bottom: 1px solid black;
  padding: 12px 15px;
  margin-right: 18px;
  text-indent: 0px;
  font-family: 'Thasadith', sans-serif;
  font-size: 22px;
  font-size: 2.2rem;
  margin-bottom: 5px;
  width: 54px;
}
.counter .sq span {
  clear: both;
  display: block;
  text-indent: -15px;
  font-size: 16px;
  font-size: 1.6rem;
  font-family: 'Thasadith', sans-serif;
}
.well {
text-align: center;
max-width: 400px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}

