body{
  background-image: url(../image/dce.jpg); 
 
}

.jumbotron { transition: all .4s ease-in-out; }
.jumbotron:hover { transform: scale(1.1); }
#jumbotron  {
  margin-top:10px;
    max-height:40px;
    text-align: center;
    margin:0 auto;
    text-align: center;
  }
.navbar-brand:hover {
  transition: transform .2s;
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
 
.content{
  max-width: 960px;
  border: 0px solid #cccc;
  margin: 0 auto;
}
#timer{
  margin-top:30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
width:100px;
  height:50px;
  border-radius:40%;
 
  
}

 #stop{
   width: 80px;
   height:40px;
   display: block;
   margin-right: auto;
   border-radius:40%;
}
#start{
  width: 80px;
   height:40px;
   display: block;
   margin-left: auto;
   border-radius:40%; 
}
#inspire{
  margin-top:30px;
  margin-bottom:30px;
 }
.inspire{
  transition: transform .2s;
}
 
.inspire:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1);

}
