#jumbotron  {
    max-height:40px;
    text-align: center;
     width:960px;
    margin:0 auto;
    text-align: center;
    line-height: 50px;
   
  }
  
.content{
  max-width: 960px;
  height:550px;;
  border: 50px solid #cccc;
  margin: 0 auto;
}

#timer{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 30px;
}


#start, #stop, #reset{
  margin-top: 10px;
   width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}